$color-beige: #f5f5dc;
$color-beige-dark: #f9d4a7;
$color-gray-dark: #686868;
$color-gray-light: #dddddd;
$color-gray: #bbbbbb;
$color-black: #0b0b0b;
$color-white: #ffffff;

$color-copyright: #918581;

$font-weight-normal: 400;
$font-weight-bold: 700;
