.btn {
  @include bordered;
  border: 1px solid gray;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;

  &:link,
  &:visited {
    text-decoration: none;
  }

  &--easy,
  &--medium,
  &--hard,
  &--expert {
    position: relative;
    padding: 1rem 4rem;
    background-color: $color-beige;
    color: $color-black;

    &:hover {
      background-color: $color-beige-dark;
    }

    &:hover::after {
      content: "";
      font-size: 1rem;
      color: $color-white;

      position: absolute;
      right: 105%;
      width: 50%;
      padding: 1rem;

      background-color: $color-gray-dark;
      clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
      z-index: 1;
    }
  }

  &--easy:hover::after {
    content: "Simple enough.";
  }

  &--medium:hover::after {
    content: "Not that hard";
  }

  &--hard:hover::after {
    content: "May take some time.";
  }

  &--expert:hover::after {
    content: "Seriously, you wanna do this?";
  }

  &--selected {
    background-color: $color-beige-dark;
  }

  &--start:hover,
  &--give-up:hover,
  &--home:hover {
    // background-color: $color-gray;
    border: 1px solid $color-black;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  }

  &--start:active,
  &--give-up:active,
  &--home:active {
    // background-color: $color-gray-light;
    box-shadow: none;
  }

  &--start {
    border-radius: 10px;
    margin-top: 2rem;
    padding: 1rem 3rem;
    background-color: white;
    color: $color-black;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &--give-up,
  &--home {
    border-radius: 10px;
    padding: 1rem 2rem;
    background-color: white;
    color: $color-black;
  }
}
