.puzzle-piece {
  &--initial {
    @include bordered;
    position: relative;
    margin: 1rem;
    display: inline-block;
  }

  &--dragged {
    @include bordered;
    position: fixed;
  }

  &--matched {
    //@include bordered;
    position: absolute;
  }
}
