.control-box {
  @include bordered;
  position: relative;
  top: 0;
  right: 0;
  float: right;
  width: 30vw;
  height: 100vh;

  .game-mode {
    @include bordered;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
  }
}
