.control-box {
  @include bordered;

  float: right;
  right: 0;
  top: 0;
  width: 30vw;
  height: 100vh;
  position: relative;

  .game-mode {
    @include bordered;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
  }

}
