.map-container {
  @include bordered;
  position: relative;
  top: 0;
  left: 0;
  float: left;
  width: 70vw;
  height: 100vh;
  padding: 1rem;
  overflow: scroll;
  border-right: 1px solid $color-gray-dark;
}
